--2015-05-04 19:42:05--  http://www.emanueleferonato.com/2006/09/02/click-image-and-get-coordinates-with-javascript/
Resolving www.emanueleferonato.com (www.emanueleferonato.com)... 192.185.49.220
Connecting to www.emanueleferonato.com (www.emanueleferonato.com)|192.185.49.220|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 220065 (215K) [text/html]
Saving to: `index.html'

     0K .......... .......... .......... .......... .......... 23% 29.2K 6s
    50K .......... .......... .......... .......... .......... 46% 21.5K 5s
   100K .......... .......... .......... .......... .......... 69% 7.01K 5s
   150K .......... .......... .......... .......... .......... 93% 54.6K 1s
   200K .......... ....                                       100% 82.5K=12s

2015-05-04 19:42:18 (17.5 KB/s) - `index.html' saved [220065/220065]

